@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*diseño responsive*/
@media screen and (max-width: 480px) {
  /* max-width = hasta */
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    background-color: #009D71;
  }
  .flex-container {
    background-color: #3a7658;
    background-image: url("../images/feather-seamless-pattern.png");
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    gap: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #grid-container {
    background-color: red;
    width: auto;
    height: 400px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 3fr;
        grid-template-columns: 1fr 1fr 3fr;
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
    gap: 2px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .footer-container {
    background-color: #88a7d0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 200px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*index*/
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Palette Mosaic', cursive;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #009D71;
}

#header .header_logo {
  width: 300px;
  height: 300px;
}

#header .header_menu {
  margin-bottom: -72px;
}

#header .header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

#header .header_menu ul li {
  margin: 0 15px;
  font-weight: 700;
  text-transform: uppercase;
}

#header .busqueda {
  padding: 0;
  margin-bottom: -72px;
}

.flex-container {
  background-color: #3a7658;
  background-image: url("../images/feather-seamless-pattern.png");
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Biblioteca*/
  /*Recursos*/
  /*Proyectos*/
  /*Contacto*/
}

.flex-container .flex-item {
  border: 5px solid;
  width: 600px;
  background-color: #88a7d0;
}

.flex-container .flex-item .flex-img {
  width: 100%;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .flex-container .flex-item .flex-img .flex-img {
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}

.flex-container .footer-container {
  background-color: #88a7d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container .footer-container .footer-item {
  border: 2px;
  height: auto;
  width: 200px;
}

.flex-container .footer-container .footer-item .footer-item .cehma1 {
  height: 100%;
  width: 100%;
}

.flex-container #grid-container {
  background-color: red;
  width: auto;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 3fr;
      grid-template-columns: 1fr 1fr 3fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  gap: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flex-container #grid-container .noticias {
  background-color: white;
  text-align: left;
}

.flex-container .grid-item {
  background-color: white;
  width: 100%;
  height: 100%;
}

.flex-container .grid-item .grid-item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.flex-container .grid-item .grid-item:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.flex-container #section-container {
  background-size: absolute;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -141px;
}

.flex-container .bibliotecaitem {
  background-image: url("../images/Biblioteca.jpg");
  border: 5px solid;
  width: auto;
  margin-top: 37px;
}

.flex-container .bibliotecaitem2 {
  border: 5px solid;
  width: auto;
  margin-top: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-container .bibliotecaitem2 .img {
  width: 200px;
  height: 200px;
}

.flex-container .bibliotecaitem .titulo {
  background-image: url("../images/Biblioteca.jpg");
  color: whitesmoke;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.flex-container .bibliotecaitem .titulo2 {
  color: whitesmoke;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: right;
}

.flex-container .bibliotecaitem .texto {
  color: white;
  font-size: 25px;
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 23px;
}

.flex-container section .link {
  width: 200px;
  height: 200px;
}

.flex-container #cuerpo {
  width: auto;
  height: 900px;
  background-image: url("../images/fondos/fondosrecursos.jpg.jpg");
}

.flex-container .recursos-container {
  background-image: -webkit-gradient(linear, right top, left top, from(#88a7d0), to(blue));
  background-image: linear-gradient(to left, #88a7d0, blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container .recursos-item {
  border: 5px solid;
  width: 600px;
  background-color: #88a7d0;
}

.flex-container .recursos-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 150px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container .recursos-item2 {
  border: 5px;
  width: 600px;
  background-color: none;
}

.flex-container .recursos-item2 iframe {
  overflow-y: scroll;
}

.flex-container .youtube {
  height: 400px;
  width: 400px;
  margin: 5px;
  background-color: brown;
  border-top-color: aqua;
  border-bottom-color: aqua;
  border: dotted;
}

.flex-container .spotify {
  height: 400px;
  width: 400px;
  margin: 5px;
  background-color: #365325;
  border-top-color: #070808;
  border-bottom-color: #0f1111;
  border: solid chocolate;
}

.flex-container .spotify .podscast {
  width: 700px;
}

.flex-container .cuerpoproyectos {
  width: auto;
  height: auto;
  background-image: url("../images/fondos/fondosrecursos.jpg.jpg");
}

.flex-container .proyectos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 400px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container .contacto-container {
  width: 400;
  height: 400;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 3fr;
      grid-template-columns: 1fr 1fr 3fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 0px;
}

.flex-container .contacto-item {
  background-image: url("../images/fondos/fondosrecursos.jpg.jpg");
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 400px;
  height: 400px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: black;
}

.flex-container .contacto-item {
  background-color: white;
  width: 100%;
  height: 100%;
}

.flex-container .contacto-item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.flex-container .contacto-item:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.flex-container .contacto-item .formulario1 .linea {
  height: auto;
}

.flex-container .contacto-item .formulario1 .titulo {
  background-color: #ADE8B7;
  font-size: 25px;
}

.flex-container .contacto-item .formulario1 .datos {
  margin: 0px;
}

.flex-container .contacto-item .img {
  height: 100%;
  width: 400px;
}

.flex-container .formulario1 {
  width: 400px;
  height: auto;
}
/*# sourceMappingURL=style.css.map */